# assemblies and indexes

assemblies/Ahal_v2_2.fa
assemblies/Ahal_v2_2.fa.fai
assemblies/Alyr_v2_2.fa
assemblies/Alyr_v2_2.fa.fai
assemblies/Alyrata_384_v1_only1-8.fa

# results from RagTag

mapping/Alyr/minimap2/*
mapping/Ahal/minimap2/*





